<form action="" class="add-character-form">
  <h2>Add Character</h2>
  <div class="flex fullwidth input-group">
    <label for="name">Character Name:</label>
    <input type="text" name="name" id="name" />
  </div>
  <div class="flex fullwidth input-group">
    <label for="name">Race:</label>
    <input type="text" name="race" id="race" />
  </div>
  <div class="flex fullwidth input-group">
    <label for="name">Gender Expression:</label>
    <input type="text" name="genderExpression" id="genderExpression" />
  </div>
  <div class="flex fullwidth input-group">
    <label for="name">First Met:</label>
    <input type="text" name="firstMet" id="firstMet" />
  </div>
  <div class="flex fullwidth input-group">
    <label for="name">Generated Traits:</label>
    <input type="text" name="generatedTraits" id="generatedTraits" />
  </div>
  <div class="flex fullwidth input-group">
    <label for="name">Physical Description:</label>
    <textarea
      name="physicalDescription"
      id="physicalDescription"
      placeholder="~PHYSICAL DESCRIPTION~"
    ></textarea>
  </div>
  <div class="flex fullwidth input-group">
    <label for="name">Notes:</label>
    <textarea name="notes" id="notes" placeholder="-"></textarea>
  </div>

  <button type="submit" name="submit" id="submit">Add Character</button>
</form>
