<p>
  <span style="font-family: Signika, sans-serif"
    ><strong style="box-sizing: border-box; user-select: text">Race:</strong>
    Wildfolk</span
  >
</p>
<p
  style="
    box-sizing: border-box;
    user-select: text;
    margin: 0.5em 0px;
    color: rgb(25, 24, 19);
    font-family: Signika, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: start;
  "
>
  <span style="font-family: Signika, sans-serif"
    ><strong style="box-sizing: border-box; user-select: text"
      >Gender Expression:</strong
    >Male</span
  >
</p>
<p
  style="
    box-sizing: border-box;
    user-select: text;
    margin: 0.5em 0px;
    color: rgb(25, 24, 19);
    font-family: Signika, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: start;
  "
>
  <span style="font-family: Signika, sans-serif"
    ><strong style="box-sizing: border-box; user-select: text"
      >First Met:</strong
    >Outside Wildenburg</span
  >
</p>
<p
  style="
    box-sizing: border-box;
    user-select: text;
    margin: 0.5em 0px;
    color: rgb(25, 24, 19);
    font-family: Signika, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: start;
  "
>
  <span style="font-family: Signika, sans-serif"
    ><strong style="box-sizing: border-box; user-select: text"
      >Generated Traits:</strong
    >-</span
  >
</p>
<hr
  style="
    box-sizing: border-box;
    user-select: text;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid var(--color-border-light-primary);
    border-bottom: 1px solid var(--color-border-light-highlight);
    color: rgb(25, 24, 19);
    font-family: Signika, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
/>
<p
  style="
    box-sizing: border-box;
    user-select: text;
    margin: 0.5em 0px;
    color: rgb(25, 24, 19);
    font-family: Signika, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: start;
  "
>
  <span style="font-family: Signika, sans-serif">~PHYSICAL DESCRIPTION~</span>
</p>
<hr
  style="
    box-sizing: border-box;
    user-select: text;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid var(--color-border-light-primary);
    border-bottom: 1px solid var(--color-border-light-highlight);
    color: rgb(25, 24, 19);
    font-family: Signika, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
/>
<p
  style="
    box-sizing: border-box;
    user-select: text;
    margin: 0.5em 0px;
    color: rgb(25, 24, 19);
    font-family: Signika, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: start;
  "
>
  <span style="font-family: Signika, sans-serif"
    ><em style="box-sizing: border-box; user-select: text">Notes:</em> Taleri
    warleader.</span
  >
</p>
